<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="angular1.4.6.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: red;
        }
    </style>
</head>

<body>
    <!-- <div ng-app="helloApp" ng-init="age=27">
        <p>
            名字：
            <input type="text" ng-model="name">
        </p>
        <h1>Hello,{{name}}</h1>
        <p>
            年龄：
            <span ng-bind="age"></span>
        </p>
        <p>
            表达式测试：5+5={{5+5}}
        </p>
    </div> -->
    <!--注意：一个页面只能出现一个ng-app属性，如果有多个则只有第一个有效-->
    <div ng-app="myApp">
        <div ng-controller="myCtrl" ng-init="testObj={a:'test',b:111}">
            姓名：<input type="text" ng-model="name"><br> {{name}}
            <br> 年龄：
            <input type="text" ng-model="age"><br> {{age}}
            <br>

            <p>对象测试：a={{testObj.a}},b={{testObj.b}}</p>

            <div ng-init="names=['a','b','c','d']">
                <p>循环：</p>
                <ul>
                    <li ng-repeat="name in names">
                        {{name}}
                    </li>
                </ul>
            </div>
        </div>
        <!--自定义指令-->
        <div ng-my-directive>

        </div>
        <ng-my-directive></ng-my-directive>
        <!--验证-->
        <form name="myForm">
            Email:<input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
        </form>
        <p>ng-model 指令可以为应用数据提供状态值(invalid, dirty, touched, error)</p>
        <div ng-init="list=['ng-empty','ng-not-empty','ng-touched','ng-untouched','ng-valid','ng-invalid','ng-dirty','ng-pending','ng-pristine']">
            ng-model 指令根据表单域的状态添加/移除以下类：
            <ul>
                <li ng-repeat="item in list">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.name = "venux";
            $scope.age = 27;
        });

        //自定义指令，使用camelCase命名法命名指令，但使用时使用-分割，如camel-case
        app.directive("ngMyDirective", function () {
            return {
                template: "<h1>这是我的指令！！！</h1>"
            }
        });
    </script>

</body>

</html>